.conteneur {
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  height: 1000px;
}

.box1 {
     background-color: purple;
     height: 800px;
     width: 800px;
     position: relative;
     /* right: 10px; */
     top: 50px;
     /* right: 50px; */
}
.box2 {
  background-color: rgb(255, 0, 0);
  height: 400px;
  width: 400px;
  postion
}